/* ------ * Reset * --------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
 
/* HTML5 display-role reset for older browsers */
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
 
body {
  	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
 
ol, ul {
  list-style: none; }
 
blockquote, q {
  quotes: none; }
 
blockquote :before, blockquote :after {
    content: '';
    content: none; 
 }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
}
.clearfix:after {
   clear: both;
}
.clearfix {
   zoom: 1;
}

/* Current Page */
.current-page {
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 14px;
	background: rgba(0,0,0,.5);
	overflow: hidden;
}
.current-page a {
	text-decoration: none;
}
.current-page video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;  
	background-size: 100%;
  	width: 100%;
  	z-index: 0;
  	min-width: 1024px;
}
.current-page .current-page-name {
	display: inline-block;
	position: relative;
	z-index: 1;
}
.current-page .current-page-name p {
	color: #FFF;
	font-size: 32px;
	line-height: 34px;
	display: inline-block;
	margin-left: 11px;
    font-family: "Code Pro Bold";
}
/* changes */
.current-page .img {
	width: 70px;
	height: 70px;
	margin-top: -2px;
	display: inline-block;
	vertical-align: middle;
}
.current-page .img img {
	display: block;
	width: 100%;
}
.current-page .sp-video span {
	color: #f57859;
}
.current-page .sp-news span {
	color: #F2B63E;
}
.current-page .sp-catalog span {
	color: #72c067;
}
.current-page .sp-music span {
	color: #eb587d;
}
.current-page .sp-afisha span {
	color: #51c4d4;
}
.current-page .sp-book span {
	color: #f4662f;
}
/* Current Page */

.video-card-page,
.video-top-page {
	line-height: 1 !important;
	background: none;
}
/*start autocomplete*/
.site-autocomplete_nav {
	position: absolute;
	top: 100%;
	background: #2e2f2f;
	width: 300px !important;
	left: 0;
	margin-top: -3px;
	-webkit-border-radius: 0 0 6px 0;
	-o-border-radius: 0 0 6px 0;
	-ms-border-radius: 0 0 6px 0;
	-moz-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
	max-height: 400px;
	overflow: hidden;
}
.site-autocomplete_item {
	clear: both;
}
.site-autocomplete_link {
	display: block;
	border-top: 1px solid #333333;
	text-decoration: none;
}
.site-autocomplete_item:first-child .site-autocomplete_link {
	border-top: 0;
}
.site-autocomplete_link:hover {
	background: rgba(255,255,255,.05);
}
.site-autocomplete_img {
  float: left;
  width: 66px;
  height: 100px;
  background-size: cover;
  background-position: center;
  line-height: 100px;
  position: relative;
  bottom: 0;
  background-color: #434444;
  background-image: url(../images/icons/logo-autocomplete.png);
}
.site-autocomplete_img img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
}
.site-autocomplete_body {
	overflow: hidden;
	position: relative;
	height: auto;
	min-height: 100px;
	padding-left: 7px;
	padding-top: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-bottom: 10px;
}
.site-autocomplete_genre {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 0 0 0 6px;
	-o-border-radius: 0 0 0 6px;
	-ms-border-radius: 0 0 0 6px;
	-moz-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
	background-color: #434444;
	background-image: url(../images/autocomplete/genre-icons.png);
}
.site-autocomplete_genre.films {
	background-position: 0 0;
}
.site-autocomplete_genre.cartoons {
	background-position: 0 -40px;
}
.site-autocomplete_genre.tv-shows {
	background-position: 0 -80px;
}
.rating-esmall .star {
	width: 30px;
	height: 28px;
	background: url(../images/icons/icon_star_esmall.png);
	background-position: 0px -29px;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}
.site-autocomplete_nav .rating-esmall {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
	height: 47px;
}
.rating-esmall .star-esmall-white {
	background-position: -31px -29px;
}
.rating-esmall .star-esmall-white-active {
	background-position: -30px 0px;
}
.rating-esmall .star-esmall-gold {
	background-position: 0px -28px;
}
.rating-esmall .star-esmall-gold-active {
	background-position: 0px 0px;
}
.site-autocomplete_footer {
	padding-left: 18px;
	padding-right: 15px;
	font-size: 12px;
	font-weight: 300;
	margin-top: -5px;
	color: #51c4d4;
}
.actor .site-autocomplete_body , .director .site-autocomplete_footer
{
	top: 20px;
}
.actor .site-autocomplete_body, .director .site-autocomplete_body 
{
	height: 75px;
}
.site-autocomplete_footer .autocomplete-name_first {
	color: #51c4d4;
	line-height: 1.2em;
}
.site-autocomplete_footer .autocomplete-name_second {
	color: #577074;
	line-height: 1.2em;
	margin-top: 2px;
}
.site-autocomplete_nav .jspContainer {
	position: relative;
}
.site-autocomplete_nav .jspContainer {
	position: relative;
}
.site-autocomplete_nav .jspPane {
	position: absolute;
}

.site-autocomplete_nav .jspVerticalBar {
	position: absolute;
	top: 0;
	right: 4px;
	width: 5px;
	height: 100%;
	z-index: 2;
}
.site-autocomplete_nav .jspArrowDown,
.site-autocomplete_nav .jspArrowUp {
	content: '';
	width: 5px;
	height: 20px;
	position: absolute;
	color: #fff;
	left: 0;
}
.site-autocomplete_nav .jspArrowDown {
	bottom: 0;
}
.site-autocomplete_nav .jspArrowUp {
	top: 0;
}
.site-autocomplete_nav .jspTrack {
	top: 20px;
	position: relative;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	background-color: #CCCCCC;
}
.site-autocomplete_nav:hover .jspTrack {
	opacity: 1;
}
.site-autocomplete_nav .activeDrag {
	opacity: 1;
}

.site-autocomplete_nav .jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background: #F48164;
}
 /*end autocomplete*/
/*************************************************************

				VIDEO CARD

*************************************************************/
.video-card-page {
	background: #e5eaed;
}
.video-card-container {
	width: 1100px;
	position: relative;
	margin: auto;
}
.rating-medium .text {
	font-size: 14px;
	font-weight: 300;
	color: rgba(255,255,255,.7);
	margin-bottom: 11px;
}
.rating-medium .star {
	display: inline-block;
	width: 42px;
	height: 40px;
	background: url(../images/icons/icon_star_medium.png);
	background-position: 0 -40px;
	vertical-align: middle;
	margin-top: -1px;
	cursor: pointer;
}
.rating-medium .star-mediun-white {
	background-position: -42px -40px;
}
.rating-medium .star-mediun-white-active {
	background-position: -42px 0;
}
.rating-medium .star-mediun-gold {
    background-position: 0 -40px;
}
.rating-medium .star-mediun-gold-active {
    background-position: 0 0;
}
.rating-medium .star-btn {
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url(../images/icons/icon_plus_medium.png);
	border: none;
	vertical-align: middle;
	margin-left: 12px;
	cursor: pointer;
	outline: none;
}
.rating-medium .star-btn.add {
	background-position: -66px 0px;
}
.rating-medium .star-btn.add:hover {
	background-position: -33px 0px;
}
.rating-medium .star-btn.del {
	background-position: -231px 0px;
}
.rating-medium .star-btn.del:hover {
	background-position: -264px 0px;
}
/* Tabs Movie */

/* Tabs Nav */
.tabs-movie {
	background: #fff;
	-webkit-border-radius:0  0 10px 10px;
	-ms-border-radius:0  0 10px 10px;
	-moz-border-radius:0  0 10px 10px;
	-o-border-radius:0  0 10px 10px;
	border-radius:0  0 10px 10px;
}
.tabs-movie .tabs-nav {
	background: #EFF2F4;
	text-align: center;
}
.tabs-movie .tabs-list {
	display: inline-block;
}
.tabs-movie .tab-item {
	display: inline-block;
	margin: 10px 5px 10px 10px;
}
.tabs-movie .tab-item a {
	padding: 12px 25px 13px;
	display: block;
	color: #424446;
	font-size: 13px;
	font-weight: 600;
	background: #fff;
	border-radius: 20px;
	text-decoration: none;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.tabs-movie .tab-quantity a {
	padding-right: 7px;
}
.tabs-movie .tab-item a:hover,
.tabs-movie .tab-item.active a {
	background: #f57859;
	color: #fff;
}
.tabs-movie .tab-item .quantity {
	border-radius: 26px;
	padding: 7px 7px 8px;
	margin: -7px 0;
	display: inline-block;
	color: #fff;
	background: #f57859;
	font-weight: 700;
	font-size: 10px;
	margin-left: 2px;
	min-width: 11px;

}
.tabs-movie .tab-item a:hover .quantity,
.tabs-movie .tab-item.active a .quantity {
	background: #fff;
	color: #424446;
}

.tabs-movie .tab-item.disable {
	opacity: .7;
}
.tabs-movie .tab-item.disable a:hover,
.tabs-movie .tab-item.disable.active a {
	background: #fff;
	color: #424446;
}
.tabs-movie .tab-item.disable a:hover .quantity,
.tabs-movie .tab-item.disable.active a .quantity {
	background: #f57859;
	color: #fff;
}
/* Tabs Nav end*/

/* Tabs Section */
.tabs-movie .tab-section {
	display: none;
}
.tabs-movie .tabs-sections section.visible {
	display: block;
}

/* Discription */
.tabs-movie .description {
	padding: 30px 50px;
}
.tabs-movie .description .left-panel {
	width: 300px;
	float: left;
}
.tabs-movie .description .poster {
	border-radius: 10px;
	overflow: hidden;
}
.tabs-movie .description .poster img {
	width: 100%;
	display: block;
}
.tabs-movie .left-panel .other-sites {
	margin-top: 10px;
	border-radius: 10px;
	background: #EFF2F4;
	padding-bottom: 15px;
	text-align: left;
}
.tabs-movie .left-panel .site {
	display: inline-block;
	width: 33%;
	margin-left: -4px;
	text-align: center;
	padding-top: 15px;
	text-decoration: none;
}
.tabs-movie .left-panel .rating {
	font-size: 12px;
	color: #292929;
	font-weight: 300;
	margin-top: 7px;
	padding-left: 5px;
	padding-right: 5px;
}
.tabs-movie .description .right-panel {
  overflow: hidden;
  padding-left: 30px;
}
.tabs-movie .right-panel .title {
	width: 80px;
	float: left;
	font-size: 12px;
	font-weight: 300;
	color: #AAAAAA;
	line-height: 30px;
}
.tabs-movie .right-panel .title span {
	line-height: 15px;
	display: inline-block;
}
.tabs-movie .right-panel .info {
	overflow: hidden;
	font-size: 12px;
	font-weight: 300;
	min-height: 30px;
	padding-left: 10px;
}
.tabs-movie .right-panel .info .icon {
	height: 30px;
	display: inline-block;
	line-height: 30px;
	margin-right: 4px;
}
.tabs-movie .icon img {
	display: inline-block;
	vertical-align: middle;
}
.tabs-movie .right-panel .text {
	display: inline-block;
	color: #292929;
}
.tabs-movie .right-panel .link-btn {
	border-radius: 15px;
	color: #999;
	border: 1px solid #CCC;
	font-size: 12px;
	padding: 8px;
	display: inline-block;
	text-decoration: none;
	margin-right: 6px;
	margin-bottom: 10px;
	text-align: center;
}
.tabs-movie .right-panel .link-btn:hover {
	color: #383838;
	border: 1px solid #BBBBBB;
}
.tabs-movie .text-description p {
	font-size: 14px;
	color: #292929;
	line-height: 20px;
	margin-top: 22px;
	margin-bottom: 22px;
}
/* Discription */

/* Tabs Section end */

/* Tabs Movie end */

/* Advertising */
.advertising {
	height: 150px;
	overflow: hidden;
	margin-top: 20px;
	position: relative;
	display: block;
	text-decoration: none;
	border-radius: 10px;
}
.advertising img {
	height: 150px;
	width: 100%;
}
.advertising .text {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.advertising .text .left {
	line-height: 150px;
	float: left;
	width: 50%;
	padding-left: 50px;
	padding-right: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.advertising .text .left span {
	vertical-align: middle;
	line-height: 30px;
	display: inline-block;
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
}
.advertising .text .right {
	line-height: 150px;
	width: 50%;
	float: right;
	text-align: right;
	padding-right: 50px;
	padding-left: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.advertising .text .price-wrap {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
.advertising .text .price {
	font-size: 60px;
}
.advertising .text .coin {
	font-size: 30px;
	line-height: 25px;
	position: relative;
	top: -21px; 
}
/* Advertising end */

/* Seems Movies */
.seems-movies {
	padding: 45px 50px;
	margin-top: 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	background: #fff;
}
.seems-movies .title {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	color: #292929;
}
.seems-movies .movies-list .movie {
	float: left;
	width: 180px;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}
.seems-movies .movies-list .movie:nth-child(5n) {
	clear: right;
}
.seems-movies .movies-list .movie:nth-child(5n+1) {
	clear: left;
}
.seems-movies .movies-list .movie a {
	display: block;
	text-decoration: none;
}
.seems-movies .movies-list .img {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
	background-color: #CDD2D5;
	background-image: url(../images/icons/zagluwka.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 250px;
}
.seems-movies .movies-list img {
	width: 100%;
	display: block;
}
.seems-movies .movies-list .name {
	margin-top: 22px;
	color: #424446;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}
.seems-movies .movies-list .country {
	font-size: 14px;
	color: #555555;
	font-weight: 300;
	margin-top: 7px;
	line-height: 18px;
}
/* Seems Movies end */

/* Posters Container */
.posters-container {
	padding: 10px 50px 30px;
}
.posters-container .poster {
	width: 180px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	text-align: center;
}
.posters-container .poster:nth-of-type(5n) {
	clear: right;
	margin-right: 0;
}
.posters-container .poster:nth-of-type(5n+1) {
	clear: left;
}
.posters-container .poster .img-container {
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}
.posters-container .img-container a {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url(../images/icons/look-icon.png) no-repeat 50%, rgba(0,0,0,.8);
	opacity: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
.posters-container .img-container a:hover {
	opacity: 1;
}
.posters-container .poster img {
	width: 100%;
	display: block;
}
.posters-container .expansion {
	font-size: 12px;
	color: #919ca4;
	font-weight: 300;
	margin-top: 10px;
}
/* Posters Container end */

/* Honors Container */
.honors-container {
	padding: 0 50px 30px 30px;
}
.honors-container .honor {
	margin-top: 30px;
}
.honors-container .honor-img {
	width: 155px;
	text-align: center;
	float: left;
}
.honors-container .honor-img .name-oscar {
	font-size: 12px;
	line-height: 14px;
	color: #919ca4;
	font-weight: 300;
	margin-top: 7px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 18px;
}
.honors-container .table {
	overflow: auto;
	padding-left: 35px;
}
.honors-container .table-inner {
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-ms-border-radius: 7px 7px 0 0;
	-o-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	overflow: hidden;
}
.honors-container .table .column {
	width: 50%;
	float: left;
}
.honors-container .table-title {
	text-align: center;
	font-size: 13px;
	line-height: 16px;
	color: #919ca4;
	font-weight: 600px;
	padding-top: 22px;
	padding-bottom: 22px;
	background: #D3D7DB;
}
.honors-container .table-section {
	padding: 15px 30px;
	line-height: 18px;
	font-size: 14px;
	color: #292929;
	font-weight: 300;
	border-bottom: 1px solid #E5EAED;
	border-left: 1px solid #E5EAED;
	border-right: 1px solid #E5EAED;
}
.honors-container .column-1 .table-section {
	margin-right: -1px;
}

/* Reviews Container */
.review-head {
	background: #f57859;
}
.review-head .review-comments_count {
	background: #f57859;
}
/* Reviews Container end */

/* Sundtrack Container */
.play-list {
	border-top: 1px solid #E5EAED;
	margin-top: 30px;
	padding-bottom: 30px;
}
.play-list .song {
	border-bottom: 1px solid #E5EAED;
	padding-left: 50px;
	height: 77px;
	clear: both;
}
.play-list .song .song-info {
	float: left;
	padding: 13px 0 14px;
}
.play-list .song .song-icon {
	width: 50px;
	height: 50px;
	overflow: hidden;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	display: inline-block;
	position: relative;
	-webkit-transition: border-radius .3s;
	-o-transition: border-radius .3s;
	transition: border-radius .3s;
	vertical-align: middle;
}

.play-list .song:hover .song-icon {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.play-list .song .song-icon img {
	display: block;
	width: 100%;
	min-height: 50px;
}
.play-list .song .play-btn {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background:rgba(255,255,255,.7);
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	opacity: 0;
	overflow: hidden;
	cursor: pointer;
}
.play-list .song .play-btn:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: url(../images/song-icons/play-icons.png) no-repeat center top;
}
.play-list .song.active  .song-icon {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.play-list .song.active .play-btn {
	opacity: 1;
}
.play-list .song .played .play-btn:after {
	background-position: center -50px;
}
.play-list .song:hover .play-btn {
	opacity: 1;
}
.play-list .song .text-info {
	display: inline-block;
	line-height: 48px;
	margin-left: 11px;
}
.play-list .song .group-name {
	font-size: 16px;
	color: #424446;
	font-weight: 600;
	line-height: 18px;
	display: inline-block;
	vertical-align: middle;
	width: 270px;
}
.play-list .song .song-name {
	font-size: 14px;
	line-height: 16px;
	display: inline-block;
	vertical-align: middle;
	color: #555;
	font-weight: 300;
}
.play-list .song .hidden {
	display: none;
}
.play-list .song.active .hidden {
	display: block;
}
.play-list .song.active .song-icon {
	vertical-align: top;
}
.play-list .song.active .text-info {
	width: 184px;
	line-height: 22px;
}
.play-list .song.active .text-info .group-name {
	width: auto;
}
.play-list .song.active .text-info .song-name {
	display: block;
	margin-top: 5px;

}
.play-list .graph {
	float: left;
	height: 77px;
	overflow: hidden;
}
.play-list .song .right-btns {
	float: right;
}
.play-list .song .right-btns * {
  float: left;
}
.play-list .song .right-btns .time,
.play-list .song .right-btns .star {
	width: 74px;
	height: 78px;
	line-height: 75px;
	border-left: 1px solid #E5EAED;
	text-align: center;
}
.play-list .song .right-btns .time {
	font-size: 14px;
	color: #919ca4;
	font-weight: 300;
}
.play-list .song .right-btns .star {
	background: url(../images/song-icons/star.png) no-repeat 50%;
}
.play-list .volume {
	width: 229px;
	height: 78px;
	line-height: 73px;
	text-align: center;
	border-left: 1px solid #E5EAED;
}
.play-list .volume:before {
	content: '';
	width: 19px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
	background: url(../images/icons/volume-audio.png);
	vertical-align: middle;
}
.play-list .volume .volume-bar {
	width: 100px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 2px solid #E5EAED;
	position: relative;
	height: 16px;
	display: inline-block;
	float: none;
	vertical-align: middle;
}
.play-list .volume .volume-track {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: #E5EAED;
	-webkit-border-radius: 15px 0 0 15px;
	-o-border-radius: 15px 0 0 15px;
	-ms-border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	border-radius: 15px 0 0 15px;
} 
.play-list .volume .volume-drag {
	width: 26px;
	height: 26px;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #919CA4;
	left: 40%;
	position: absolute;
	z-index: 1;
	top: -5px;
	cursor: pointer;
}
/* Trailer Container */ 
.trailer-container {
	padding-top: 30px;
}
.trailer-container .trailers {
	padding-bottom: 50px;
}
.trailer-container .trailer:nth-of-type(1) {
	padding-top: 9px;
}
.trailer-container .trailers-list {
	height: 405px;
	outline: none;
}
.trailer-container .trailer {
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: -10px;
	cursor: pointer;
	border-top: 1px solid #E5EAED;
	border-bottom: 1px solid #E5EAED;
	position: relative;
	margin-bottom: -1px;
	z-index: 1;
}
.trailer-container .trailer:hover,
.trailer-container .trailer.active {
	background: #FEF1EE;
	border-top: 1px solid #FEF1EE;
	border-bottom: 1px solid #FEF1EE;
	z-index: 2;
}
.trailer-container .trailer:hover .count span,
.trailer-container .trailer.active .count span {
	text-indent: -999px;
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 15px;
	background: url(../images/icons/trailer-sprite.png);
	background-position: -39px 0;
}
.trailer-container .trailer .count {
	line-height: 60px;
	text-align: center;
	float: left;
	font-size: 14px;
	color: #919ca4;
	font-weight: 700;
	width: 74px;
}
.trailer-container .trailer-body {
	overflow: hidden;
}
.trailer-container .trailer .trailer-img {
	width: 90px;
	height: 60px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	overflow: hidden;
	float: left;
	vertical-align: middle;
}
.trailer-container .trailer .trailer-img img {
	width: 100%;
}
.trailer-container .trailer .text-info {
	vertical-align: middle;
	padding-left: 15px;
	overflow: hidden;
}
.trailer-container .trailer .name {
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: #424446;
}
.trailer-container .trailer .bottom {
	margin-top: 5px;
}
.trailer-container .trailer .clock,
.trailer-container .trailer .looks {
	font-size: 14px;
	font-weight: 300;
	color: #919ca4;
	vertical-align: middle;
	margin-right: 20px;
}
.trailer-container .trailer .clock:before {
	content: '';
	background: url(../images/icons/trailer-sprite.png);
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 5px;
}
.trailer-container .trailer .looks:before {
	content: '';
	background: url(../images/icons/trailer-sprite.png);
	width: 20px;
	height: 12px;
	background-position: 21px -1px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 5px;
}


.trailer-container .jspContainer {
	position: relative;
}
.trailer-container .jspContainer {
	position: relative;
}
.trailer-container .jspPane {
	position: absolute;
}

.trailer-container .jspVerticalBar {
	position: absolute;
	top: 0;
	right: 10px;
	width: 5px;
	height: 100%;
	z-index: 2;
}
.trailer-container .jspArrowDown,
.trailer-container .jspArrowUp {
	content: '';
	width: 5px;
	height: 20px;
	position: absolute;
	color: #fff;
	left: 0;
}
.trailer-container .jspArrowDown {
	bottom: 0;
}
.trailer-container .jspArrowUp {
	top: 0;
}
.trailer-container .jspTrack {
	top: 20px;
	position: relative;
	background-color: #CCCCCC;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.trailer-container .jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background: #919CA4;
}

/* Trailer Container */

/* Soundtrack Container end */
/*************************************************************

				VIDEO CARD END

*************************************************************/


/*************************************************************

				VIDEO TOP

*************************************************************/


/* Rating Small */
.rating-esmall .star {
	width: 30px;
	height: 28px;
	background: url(../images/icons/icon_star_esmall.png);
	background-position: 0px -29px;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}
.rating-esmall .star-esmall-white {
	background-position: -31px -29px;
}
.rating-esmall .star-esmall-white-active {
	background-position: -30px 0px;
}
.rating-esmall .star-esmall-gold {
	background-position: 0px -28px;
}
.rating-esmall .star-esmall-gold-active {
	background-position: 0px 0px;
}/* Rating Small end */
/* Video Top Slider */
.video-top-slider {
	width: 100%;
	text-align: center;
	min-width: 1024px;
}
.video-top-slider .slide {
	width: 650px;
	height: 260px;
	position: relative;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-0-background-size: cover;
	background-size: cover;
}
.video-top-slider .slide.slick-center .black {
	opacity: 0;
}
.video-top-slider .slide .text {
	position: absolute;
	bottom: 35px;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	opacity: 0;
	-webkit-transition: opacity 0s;
	-o-transition: opacity 0s;
	transition: opacity 0s;
}
.video-top-slider .slide.slick-center .text {
	opacity: 1;
	-webkit-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
.video-top-slider .slick-prev {
}
.video-top-slider .inner img {
	width: 100%;
}

/* Arrow */
.video-top-slider .slick-prev,
.video-top-slider .slick-next {
	top: 50%;
	position: absolute;
	margin-top: -20px;
	text-indent: -999px;
	width: 42px;
	height: 42px;
	border: none;
	background: url(../images/icons/arrows.png);
	border-radius: 50px;
	cursor: pointer;
	outline: none;
}
.video-top-slider .slick-prev {
	left: 10%;
}
.video-top-slider .slick-next {
	right: 10%;
	background-position: -49px 0;
}
/*.video-top-slider .slick-prev:hover {
	background-position: 0 -43px;
}
.video-top-slider .slick-next:hover {
	background-position: -49px -42px;
}*/
.video-top-slider .slick-prev.slick-disabled,
.video-top-slider .slick-next.slick-disabled {
	opacity: 0;
	cursor: default;
}
/* Video Top Slider end */

/* Video Top Container */
.video-top-container .top-indent {
	padding-top: 45px;
	padding-bottom: 45px;
	min-width: 1024px;
}
.video-top-container .top-inner {
	width: 1780px;
	margin: auto;
}
.video-top-container .top-title {
	font-size: 20px;
	color: #b1b1b2;
	font-weight: 600;
	float: left;
}
.video-top-container .show-all {
	float: right;
}
.video-top-container .show-all a {
	font-size: 13px;
	font-weight: 600;
	color: #b1b1b2;
	display: inline-block;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	text-decoration: none;
}
.video-top-container .show-all a:hover {
	opacity: .8;
}
.video-top-container .show-all a:after {
	content: '';
	margin-left: 7px;
	margin-top: -2px;
	width: 19px;
	height: 20px;
	background: url(../images/icons/show-all-icon.png);
	display: inline-block;
	vertical-align: middle;
}
.show-all a.shows:after  {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
/* Video Novelty and Popular Container */

.novelty-container .rating-esmall,
.popular-container .rating-esmall {
	position: absolute;
	top: 30px;
	width: 100%;
	left: 0;
	text-align: center;
}
.novelty-container .rating-esmall .star,
.popular-container .rating-esmall .star {
	margin-left: 0;
	margin-right: 0;
}
.novelty-container,
.popular-container {
	background: #E5EAED;
}
.novelty-container .item,
.popular-container .item {
	width: 180px;
	float:left;
	margin-right: 20px;
	background: none;
	border: none;
	margin-top: 30px;
}
.novelty-container .item:last-child,
.popular-container .item:last-child {
	margin-right: 0;
}
.novelty-container .img-container,
.popular-container .img-container {
	width: 100%;
	height: 260px;
	position: relative;
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
	background-color: #CDD2D5;
	background-image: url(../images/icons/zagluwka.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.novelty-container .item-link,
.popular-container .item-link {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: url(../images/icons/play-link-icon.png) center no-repeat, rgba(0,0,0,.7);
	position: absolute;
	-webkit-border-radius: 6px;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	text-decoration: none;
}
.novelty-container .hover-items,
.popular-container .hover-items {
	display: none;
	height: 100%;
}
.novelty-container .img-container:hover .hover-items,
.popular-container .img-container:hover .hover-items {
	display: block;
}
.novelty-container .hover-items .btn,
.popular-container .hover-items .btn {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
}
.novelty-container .hover-items .set-aside,
.popular-container .hover-items .set-aside {
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	color: #424446;
	padding: 8px 26px;
	-webkit-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	border-radius: 25px;
	border: none;
	cursor: pointer;
	outline: none;

}
.novelty-container .item-link .set-aside:hover,
.popular-container .item-link .set-aside:hover {
	opacity: .9;
}
.novelty-container .hover-items .set-aside.checked,
.popular-container .hover-items .set-aside.checked {
	color: #999999;
	background: rgba(34,34,34,.7);
	opacity: 1;
	cursor: default;
}
.novelty-container .img-container img,
.popular-container .img-container img {
	width: 100%;
}
.novelty-container .name-item,
.popular-container .name-item {
	font-size: 16px;
	font-weight: 700;
	color: #424446;
	line-height: 18px;
	margin-top: 20px;
	padding-left: 2px;
	padding-right: 2px;
}
.novelty-container .country,
.popular-container .country {
	font-size: 14px;
	font-weight: 300;
	color: #555;
	margin-top: 10px;
}

.novelty-container .star-checked .rating-esmall,
.popular-container .star-checked .rating-esmall {
	top: auto;
	bottom: 60px;
}
.novelty-container .friends-rating,
.popular-container .friends-rating {
	position: absolute;
	top: 29px;
	width: 100%;
	left: 0;
	text-align: center;
}
.friends-rating .friends-rating_list {
	display: inline-block;
}
.friends-rating .friends-rating_item {
	display: inline-block;
}
.friends-rating .friends-ratings_link {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-left: 1px;
	margin-right: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 2px #F4662F;
	background-size: cover;
	background-position: center;
}
.friends-rating .friends-rating_text {
	text-align: center;
	padding: 0 20px;
	margin-top: 5px;
	font-size: 10px;
	line-height: 1.3;
	font-weight: 300;
	color: #fff;
}
.friends-rating .friends-rating_text span {
	color: #f4662f;
}
/* Video Novelty and Popular Container end */

/* Video Genres Container */
.genres-list {
	text-align: center;
}
.genres-list .item {
	width: 220px;
	height: 100px;
	display: inline-block;
	margin-right: 15px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	overflow: hidden;
	margin-top: 30px;
	background-color: #CDD2D5;
	background-image: url(../images/icons/genre-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.genres-list .item:nth-child(5n) {
	margin-right: 0;
}
.genres-list .item img {
	width: 100%;
	height: 100%;
}
.genres-list .item a {
	display: block;
	position: relative;
	height: 100%;
}
.genres-list .item .genre-name {
	line-height: 100px;
	font-size: 14px;
	color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-shadow: 1px 1px 3px #000;
}
.genres-list .item .genre-name span {
	display: inline-block;
	line-height: 18px;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 20px;
}
/* Video Genres Container end */

/* Most viewed Container */
.most-viewed-container {
	background: #101010;
}
.most-viewed-list {
	margin-top: 25px;
}
.most-viewed-container .item {
	width: 180px;
	padding-right: 16px;
	margin-top: 5px;
	float: left;
}
.most-viewed-container .item:nth-child(9n) {
	margin-right: 0;
}
.most-viewed-container .item .img-container {
	width: 50px;
	height: 70px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	overflow: hidden;
	float: left;
	position: relative;
	overflow: hidden;
	background-color: #CDD2D5;
	background-image: url(../images/icons/big_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}
.most-viewed-container .item-link {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: url(../images/icons/play-link-icon.png) center no-repeat, rgba(0,0,0,.7);
	position: absolute;
	-webkit-background-size: 30px;
	-moz-background-size: 30px;
	-o-background-size: 30px;
	-ms-background-size: 30px;
	background-size: 30px;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	opacity: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.most-viewed-container .item-link:hover {
	opacity: 1;
}
.most-viewed-container .item .img-container img {
	width: 100%;
	height: 100%;
}
.most-viewed-container .text-info {
	overflow: auto;
	display: table;
	min-height: 70px;
}
.most-viewed-container .text-inner {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}
.most-viewed-container  .name-item {
	line-height: 14px;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
}
.most-viewed-container .country {
	line-height: 14px;
	font-size: 12px;
	font-weight: 300;
	color: #b1b1b2;
	margin-top: 6px;
}
/* Most viewed Container end */

/* Best Actors Container */
.best-actors-container .best-actors-list {
	text-align: center;
	margin-left: -15px;
	margin-right: -15px;
}
.best-actors-container .item {
	display: inline-block;
	width: 118px;
	margin-left: 7px;
	margin-right: 4px;
	vertical-align: top;
	margin-top: 30px;
}
.best-actors-container .item a {
	display: block;
	text-decoration: none;
}
.best-actors-container .item .avatar {
	height: 111px;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid #939799;
	position: relative;
	background-color: #CDD2D5;
	background-image: url(../images/icons/avatar-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.best-actors-container .avatar .item-link {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: url(../images/icons/look-icon.png) center no-repeat, rgba(0,0,0,.8);
	position: absolute;
	-webkit-background-size: 50%;
	-moz-background-size: 50%;
	-o-background-size: 50%;
	-ms-background-size: 50%;
	background-size: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	opacity: 0;
}
.best-actors-container .avatar .item-link:hover {
	opacity: 1;
}
.best-actors-container .avatar img {
	display: block;
	width: 100%;
}
.best-actors-container .item .name {
	font-size: 12px;
	color: #555;
	font-weight: 600;
	margin-top: 8px;
	line-height: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
/* Best Actors Container end */

/* Video Top Container end */

/*************************************************************

				VIDEO TOP END

*************************************************************/


/*************************************************************

				MEDIA 1920

*************************************************************/
@media screen and (max-width: 1920px) {

    /*************************************************************
                    VIDEO TOP
    *************************************************************/
    .video-top-container .top-inner {
        width: 1180px;
    }

    .novelty-container .item:nth-child(7),
    .novelty-container .item:nth-child(8),
    .novelty-container .item:nth-child(9),
    .popular-container .item:nth-child(7),
    .popular-container .item:nth-child(8),
    .popular-container .item:nth-child(9) {
        display: none;
    }

    .novelty-container .item:nth-child(6),
    .popular-container .item:nth-child(6) {
        margin-right: 0;
    }

    .genres-list .item:nth-child(6) {
        display: none;
    }
    .show-all_genres .item:nth-child(6) {
    	display: inline-block;
    }

    .genres-list .item:nth-child(5n) {
        margin-right: 0;
    }

    .most-viewed-container .item:nth-child(13),
    .most-viewed-container .item:nth-child(14),
    .most-viewed-container .item:nth-child(15),
    .most-viewed-container .item:nth-child(16),
    .most-viewed-container .item:nth-child(17) {
        display: none;
    }

    .best-actors-container .item:nth-child(10),
    .best-actors-container .item:nth-child(11),
    .best-actors-container .item:nth-child(12),
    .best-actors-container .item:nth-child(13),
    .best-actors-container .item:nth-child(14) {
        display: none;
    }
	/*************************************************************
                    VIDEO TOP END
    *************************************************************/
}  
/*************************************************************

                    MEDIA 1920 END

*************************************************************/

/*************************************************************

                MEDIA 1280

*************************************************************/
@media screen and (max-width: 1280px) {

    /*************************************************************
                    VIDEO CARD
    *************************************************************/
    .video-card-container {
        width: 1024px;
    }

    .tabs-movie .description {
        padding: 30px;
    }

    .tabs-movie .description .right-panel {
        padding-left: 20px;
    }

    .advertising .text .left {
        padding: 0 15px;
    }

    .advertising .text .right {
        padding: 0 15px;
    }

    .seems-movies {
        padding-left: 10px;
        padding-right: 10px;
    }
  .play-list .song {
      padding-left: 12px;
  }

  .play-list .volume {
      width: 190px;
  }

  .posters-container {
      padding: 10px 20px 30px;
  }

  .honors-container .table {
      padding-left: 0;
  }

  .honors-container {
      padding: 0 30px 30px 10px;
  }

  .honors-container .honor-img .name-oscar {
      padding: 0 15px;
  }
  /*************************************************************
                  VIDEO CARD END
  *************************************************************/
  
  /*************************************************************
                  VIDEO TOP
  *************************************************************/
  .video-top-container .top-inner {
      width: 980px;
  }
  .novelty-container .item:nth-child(6),
  .popular-container .item:nth-child(6) {
      display: none;
  }

  .novelty-container .item:nth-child(5),
  .popular-container .item:nth-child(5) {
      margin-right: 0;
  }

  .genres-list .item:nth-child(5) {
      display: none;
  }
	.show-all_genres .item:nth-child(5) {
		display: inline-block;
	}

  .genres-list .item:nth-child(4n) {
      margin-right: 0;
  }

  .most-viewed-container .item:nth-child(10),
  .most-viewed-container .item:nth-child(11) {
      display: none;
  }

  .best-actors-container .item:nth-child(8),
  .best-actors-container .item:nth-child(9),
  .best-actors-container .item:nth-child(10) {
      display: none;
  }
  /*************************************************************
                  VIDEO TOP END
  *************************************************************/

}
/*************************************************************

                MEDIA 1280 END

*************************************************************/


/*************************************************************

                MEDIA 1024

*************************************************************/
@media screen and (max-width: 1024px) {

    /*************************************************************
                    VIDEO CARD
    *************************************************************/
    .current-page {
    	min-width: 1024px;
    }
    .tabs-movie {
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

    .tabs-movie .description {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .advertising {
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }
    .seems-movies {
        -webkit-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

    /*************************************************************
                    VIDEO CARD END
    *************************************************************/

}
/*************************************************************

                MEDIA 1024 END

*************************************************************/
/*************************************************************

                MEDIA 768

*************************************************************/
@media screen and (max-width: 768px) {

    /*************************************************************
                    VIDEO CARD
    *************************************************************/
    .video-card-container {
        width: 100%;
    }

    /*************************************************************
                    VIDEO CARD END
    *************************************************************/

}
/*************************************************************

				MEDIA 768 END

*************************************************************/
.b-container__nav
{
	height:63px;
	width: 100%;
	margin: 0 auto;
	background: #FFF;
	border-bottom: 3px solid #f57859;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	top: 0;
	z-index: 999;
	min-width: 1024px;
}
.b-nav
{
	height: 63px;
	z-index: 999;
	margin: 0 auto;
	width: 100%;
	position: relative;
}
/*start search*/
.b-nav__search
{
	display: inline-block;
	height: 51px;
	line-height: 63px;
	padding-top: 15px;
	position: absolute;
	left: 0;
	z-index: 100;
}
.b-search
{
	display: inline-block;
	font-size:0;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	border: solid 1px #e5eaed;
	background-color:#fff;
	height:30px;
	line-height:30px;
	margin-left:30px;
	float:left;
}
.b-search__search
{
	border: none;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 14px;
	outline:none;
	-webkit-appearance: none; 
	vertical-align: top;
	margin: 0 -4px 0 0;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	width: 140px;
}
.b-search__search[placeholder="поиск"]
{
	font-family: "Open Sans",serif;
	font-size: 12px;
	font-weight: 400;
	color:#424446;
	text-transform:capitalize;
	height:28px;
}
.b-search__submit
{
	background: url(../images/icons/icon_search.png)no-repeat 50% 50%;
	border: none;
	display: inline-block;
	width: 16px;
	height: 30px;
	margin: 0px 16px 0px 0;
	outline:none;
	-webkit-appearance: none; 
}
/*finish search*/
.book-card-container .b-nav__nav-menu
{
	position: relative;
	padding-left: 200px;
	background: #FFF;
	margin: 0 auto;
	text-align: center;
	max-width: 100%;
}
.b-nav-menu
{
	display: inline;
}
.b-nav-menu__item
{
	padding: 15px 0px 0px 0px;
	display: inline-block;
}
.b-nav-menu__item:last-child
{
	padding-right: 0px;
}
.b-nav-menu__link
{
	padding: 0px 20px 0px 20px;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #424446;
	line-height: 30px;
	position: relative;
	display: inline-block;

}
.b-nav-menu__item:hover, .b-nav-menu__link-active, .b-nav-menu__link:hover
{
	color: #f57859;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.b-icon__point
{
	background: #f57859;
	visibility: hidden;
	display: inline-block;
	position: absolute;
	bottom:-5px;
	left:50%;
	height: 6px;
	width: 6px;
	margin-left: -3px;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.b-nav-menu__item:hover .b-icon__point
{
	visibility: visible;
}
.b-nav-menu__link-active .b-icon__point
{
	visibility: visible;
}
.b-nav-menu__link-number
{
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: #f57859;
    padding: 0px 10px;
    display: inline-block;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    line-height: 24px;
    height: 24px;
    position: absolute;
    bottom: 5px;
     left: 100%;
    margin-left: -10px;
}
.b-nav__nav-menu
{
	position: relative;
	background: #FFF;
	margin: 0 auto;
	text-align: center;
	max-width: 100%;
}
.js-nav
{
	position: fixed;
}

.book-card-page,
.book-top-page {
	line-height: 1 !important;
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
    15% {
    opacity: 1;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
    35% {
    opacity: 1;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
   65% {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
   85% {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
    15% {
    opacity: 1;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
    35% {
    opacity: 1;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
   65% {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
   85% {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}