/* header */
body {
  	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
button {
	margin-top: 0;
	margin-bottom: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.header-container {
	background: #131418;
	line-height: 1;
   	position: relative;
   	z-index: 5000;
}
.header {
	height: auto;
	margin: auto;
	text-align: justify;
   	text-align-last: justify;
}
.header:after {
	content: '';
	display: block;
	clear: both;
}
.header .right-panel,
.header .left-panel {
	display: inline-block;
}
.header .left-panel  {
	float: left;
}
.header .right-panel {
	vertical-align: middle;
	float: right;
}
.header .logo {
	position: relative;
	display: inline-block;
   	vertical-align: middle;
   	padding: 0 15px;
}
.header .logo a {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 6px;
}


/* Header nav main */
.header-nav-main {
	float: left;
}
.header-nav-main .open-nav {
	cursor: pointer;
	padding:16px 15px 15px;
	background: none;
	border: none;
	outline: none;
	width: 56px;
	box-shadow: inset 1px 0 #2B2C30,
				1px 0 #2B2C30;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.header-nav-main .open-nav:hover,
.header-nav-main .open-nav.opened {
	background: #2B2C30;
	box-shadow: none;
}
.header-nav-main .open-nav span {
	display: block;
	height: 19px;
	background: url(../images/icons/header-open-main-icon.png) no-repeat;

}
.header-nav-main .nav-dropdawn {
	background: #2B2C30;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 15px;
	display: none;
}
.header-nav-main ul {
	display: inline-block;
}
.header-nav-main li {
	display: inline-block;
	position: relative;
	width: 100px;
	left: -20px;
	opacity: 0;
}
.header-nav-main .img img {
	width: 76px;
	height: 76px;
}
.header-nav-main li.show {
	-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
		left: 0;
		opacity: 1;
		margin-bottom: 20px;
}
.header-nav-main li a {
	font-size: 24px;
	text-decoration: none;
    font-family: "Code Pro Bold";
}
.header-nav-main li p {
	margin-top: 2px;
	font-size: 15px;
	color: #FFF;
}
.header-nav-main .sp-video span {
	color: #f57859;
}
.header-nav-main .sp-news span {
	color: #F2B63E;
}
.header-nav-main .sp-catalog span {
	color: #72c067;
}
.header-nav-main .sp-music span {
	color: #eb587d;
}
.header-nav-main .sp-afisha span {
	color: #51c4d4;
}
.header-nav-main .sp-book span {
	color: #f4662f;
}
/* Header nav main */

/* header nav name*/
.header-btns {
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
}
.header-nav-name {
	float: left;
	position: relative;
}
.header-nav-name .open-nav {
	padding:12px 15px 13px;
	background: none;
	border: none;
	outline: none;
	box-shadow: inset 1px 0 #2B2C30,
				1px 0 #2B2C30;
	border-right: 1px solid #000;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	cursor: pointer;
	width: 56px;
}
.header-nav-name .open-nav:hover,
.header-nav-name .open-nav.opened {
	background: #2B2C30;
	box-shadow: none;
}
.header-nav-name .open-nav span {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	height: 3px;
	background: #9E9E9E;
	border-radius: 2px;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;

}
.header-nav-name .open-nav.opened .hidden {
	opacity: 0;
}
.header-nav-name .open-nav.opened .first {
	-webkit-transform: rotate(-223deg) translateY(-5px) translateX(3px);
	-ms-transform: rotate(-223deg) translateY(-5px) translateX(3px);
	-o-transform: rotate(-223deg) translateY(-5px) translateX(3px);
	transform: rotate(-223deg) translateY(-5px) translateX(3px);
	margin-left: -2px;
	margin-right: -2px;
}
.header-nav-name .open-nav.opened .last {
	-webkit-transform: rotate(223deg) translateY(7px) translateX(4px);
	-ms-transform: rotate(223deg) translateY(7px) translateX(4px);
	-o-transform: rotate(223deg) translateY(7px) translateX(4px);
	transform: rotate(223deg) translateY(7px) translateX(4px);
	margin-left: -2px;
	margin-right: -2px;
}
.header-nav-name .nav-dropdawn {
	width: 172px;
	display: none;
	background: #2B2C30;
	position: absolute;
	top: 100%;
	-webkit-border-radius: 0 0 10px 10px;
  	-moz-border-radius: 0 0 10px 10px;
  	-o-border-radius: 0 0 10px 10px;
  	-ms-border-radius: 0 0 10px 10px;
  	border-radius: 0 0 10px 10px;
  	overflow: hidden;
  	padding-bottom: 15px;
  	padding-top: 15px;
}
.header-nav-name .nav-dropdawn a {
	display: block;
	height: 36px;
	text-decoration: none;
	color: #EBEBED;
	font-weight: 300;
	padding-left: 3px;
	padding-right: 5px;
	text-align: left;
}
.header-nav-name .nav-dropdawn a:hover {
	background: #35363A;
}
.header-nav-name .nav-dropdawn .icon-wrap {
	display: inline-block;
	line-height: 36px;
	width: 40px;
	text-align: center;

}
.header-nav-name .nav-dropdawn .icon-wrap img {
	vertical-align: middle;
}
.header-nav-name .nav-dropdawn .name {
	font-size: 12px;
	font-weight: 300;
	display: inline-block;
	line-height: 36px;
}
/* Header nav name end */

/* User */
.header .user {
	display: inline-block;
	color: #fff;
	margin-left: -4px;
}
.header .user .open-nav {
	height: 50px;
	color: #fff;
	padding-left: 25px;
	padding-right: 25px;
	border: none;
	background: #2B2C30;
	outline: none;
	font-size: 12px;
	cursor: pointer;
	-webkit-box-shadow: 1px 0 0 #2b2c30;
	-moz-box-shadow: 1px 0 0 #2b2c30;
	-ms-box-shadow: 1px 0 0 #2b2c30;
	-o-box-shadow: 1px 0 0 #2b2c30;
	box-shadow: 1px 0 0 #2b2c30;
}
.header .user .user-icon {
	height: 30px;
	width: 30px;
	position: relative;
	display: inline-block;
	background-color: #898A8D;
	background-image: url(../images/icons/user-avatar.png);
	background-size: cover;
	background-position: center;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid #fff;

}
.header .user .number-info {
	font-size: 10px;
	background: #e40a0f;
	padding: 2px 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	        border-radius: 50%;
	display: inline-block;
	min-height: 12px;
	position:relative;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-weight: 300;
	margin-left: 7px;
	min-width: 14px;
}
.header .user .number-sum {
  float: none;
  position: absolute;
  bottom: -1px;
  margin-left: -8px;
  left: 100%;
}
.header .user .open-nav {
	padding: 11px 11px 9px;
	color: #fff;
	border: none;
	outline: none;
	background: none;
	font-size: 12px;
	cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	-webkit-box-shadow: inset -1 0 #000;
	box-shadow: inset -1 0 #000;
}
.header .user .open-nav.opened,
.header .user .open-nav:hover {
	background: #2B2C30;
}
.header .user .open-nav:after {
	content: '';
	vertical-align: middle;
	margin-top: -2px;
	width: 11px;
	height: 6px;
	margin-left: 6px;
	display: inline-block;
	background: url(../images/icons/home-nav-open.png);
}
.header .user .nav-dropdawn {
	position: absolute;
	z-index: 100;
	top: 100%;
	width: 100%;
	background: #2B2C30;
	display: none;
	right: 0;
}
.header .user .nav-dropdawn a,
.header .user .nav-dropdawn .user-name {
	display: block;
	color: #fff;
	padding-top: 18px;
	padding-bottom: 17px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	font-size: 12px;
	-webkit-box-shadow: inset 0 -1px 0 #36373b;
	-moz-box-shadow: inset 0 -1px 0 #36373b;
	-o-box-shadow: inset 0 -1px 0 #36373b;
	-ms-box-shadow: inset 0 -1px 0 #36373b;
	box-shadow: inset 0 -1px 0 #36373b;
	border-bottom: 1px solid  #1a1a1d;
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
	        text-align: left;
	
}
.header .user .nav-dropdawn a.questions:before {
	content: "sp";
	display: inline-block;
	text-transform: uppercase;
	background: #898E91;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-o-border-radius: 9px;
	-ms-border-radius: 9px;
	border-radius: 9px;
	margin-right: 5px;
	margin-top: -5px;
	margin-bottom:-5px;
}
.header .user .nav-dropdawn a:hover {
	background: #35363a;
}
.header .user .nav-bot {
	padding-top: 10px;
	padding-bottom: 10px;
}
.header .user .nav-bot a {
	box-shadow: none;
	border: none;
	padding-top: 7px;
	padding-bottom: 7px;
}
.header .nav-list .points { 
	display: inline-block;
	text-transform: uppercase;
	background: #898E91;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-o-border-radius: 9px;
	-ms-border-radius: 9px;
	border-radius: 9px;
	margin-right: 5px;
	margin-top: -5px;
	margin-bottom: -5px;
}
/* User end */

/* Glory */
.my-glory {
	font-size: 12px;
	position: relative;
	display: inline-block;
	color: #9e9e9e;
	text-align: center;
	padding: 17px 0 17px;
	vertical-align: middle;
	margin-left: -4px;
	width: 70px;
}
.my-glory:hover {
	background: #2B2C30;
}
.my-glory .number-glory {
	font-size: 11px;
	font-weight: 700;
	display: inline-block;
}
.my-glory .number-glory:before {
	content: "";
	width: 16px;
	height: 14px;
	display: inline-block;
	margin-right: 4px;
	position: relative;
	top: 3px;
	background: url(../images/icons/trophy-icon.png);
}
/* Glory */

/* Languages */
.header .language {
	display: inline-block;
	position: relative;
	z-index: 10;
	margin-left: -4px;
}
.header .language a {
	display: inline-block;
	color: rgba(255,255,255,.7);
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	padding: 19px 0 20px;
	background: #1F2024;
	text-align: center;
	width: 63px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header .language .current {
	background: none;
	box-shadow: inset 1px 0 #2B2C30,
 				1px 0 #2B2C30;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.header .language a:hover,
.header .language a.opened {
	background: #2B2C30;
	border-color: transparent;
	box-shadow: none;
}
.header .language-dropdawn {
	display: none;
	position: absolute;
	top: 100%;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	-ms-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
}
/* Languages end */

/* header end*/




/* ------  Sidebar  --------------------*/
.sidebar-wrapper {
	position: fixed;
	width: 100%;
	display: none;
	overflow: hidden;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
  z-index: 3000;
  background: rgba(0,0,0,.7);
  cursor: pointer;
}
.home-sidebar {
	cursor: default;
	width: 320px;
	background: #FFF;
	position: absolute;
	right: -320px;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
}
.home-sidebar .jspTrack {
	background: #E5E5E5;
}
.home-sidebar .jspDrag {
	background: #F2B63E;
}
.jspScrollable .sidebar-container {
	padding-left: 30px;
}
.sidebar-scroll {
	height: 100%;
	display: table;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sidebar-container {
	vertical-align: middle;
	display: table-cell;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: auto;
}
.sidebar-darken {
	background: #1D1D1F;
}
.sidebar-darken .jspTrack {
	background: #616163;
}
.sidebar-darken .jspDrag {
	background: #F57858;
}
.home-sidebar .sidebar-inner {
	position: relative;
}

.home-sidebar .sidebar-title {
	color: #606366;
	font-weight: bold;
	font-size: 30px;
}
.home-sidebar .under-title {
	font-size: 16px;
	font-weight: lighter;
	color: #999;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.sidebar-close {
	position: absolute;
	right: 18px;
  	top: 20px;
	width: 12px;
	height: 14px;
	background: url(../images/icons/close-sidebar.png);
	z-index: 1;
}
.sidebar-close:hover {
	background-position: 0 -15px;
}

.home-sidebar .jspContainer {
	position: relative;
}
.home-sidebar .jspContainer {
	position: relative;
}
.home-sidebar .jspPane {
	position: absolute;
}

.home-sidebar .jspVerticalBar {
	position: absolute;
	top: 0;
	right: 10px;
	width: 5px;
	height: 100%;
	z-index: 2;
}
.home-sidebar .jspTrack {
	top: 20px;
	position: relative;
	background-color: #E5E5E5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.home-sidebar .jspDrag {
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	background: #F2B63E;
}
/* ------  Sidebar callback --------------------*/
.home-sidebar .callback-form {
	position: relative;
}
.home-sidebar .callback-form .sidebar-title,
.home-sidebar .personal-info .sidebar-title {
	color: #606366;
}
.callback-form input[type="text"],
.callback-form textarea {
	display: block;
	width: 100%;
	border: 1px solid #e0e0e0;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	 border-radius: 30px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 15px;
	padding-left: 28px;
	padding-right: 28px;
	color:#555;
	padding-top: 7px;
	padding-bottom: 9px;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}
.callback-form textarea {
	height: 100px;
	resize: none;
	overflow: auto;
	line-height: 18px;
	padding-top: 14px;
	padding-bottom: 14px;
	border-radius: 17px;
}
.callback-form input::-webkit-input-placeholder {
	color:#999;
	font-size: 16px;
	font-weight: lighter;
}
.callback-form input::-moz-placeholder {
	color:#999;
	font-size: 16px;
	font-weight: lighter;
	}/* Firefox 19+ */
.callback-form input:-moz-placeholder {
	color:#999;
	font-size: 16px;
	font-weight: lighter;
}/* Firefox 18- */
.callback-form input:-ms-input-placeholder {
	color:#999;
	font-size: 16px;
	font-weight: lighter;
}
.callback-form input:-input-placeholder {
	color:#999;
	font-size: 16px;
	font-weight: lighter;
}
.btn-send {
	color: #51c4d4;
	outline: none;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	 border-radius: 30px;
	background: rgba(81,196,212,0.2);
	font-weight: bold;
	display: block;
	border: none;
	width: 100%;
	margin-top: 15px;
	padding: 0;
	position: relative;
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
}
.btn-send:hover {
	background: rgba(81,196,212,1);
	color: #fff;
}
.btn-send:after {
	content: "";
	width: 30px;
	height: 30px;
	background: url(../images/icons/send-btn-icon.png);
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	margin-top: 5px;
	margin-right: 7px;
	background-size: 30px;
}
.btn-send:hover:after {
	background-position: 0 -35px;
}

/* ------  Sidebar  Personal information --------------------*/
.personal-info {
	position: relative;

}
.personal-info .edit {
	width: 15px;
	height: 15px;
	float: right;
	background: url(../images/edit-icon.png);
	position: relative;
}
.personal-info .edit:before {
	content: "редактировать";
	font-size: 12px;
	position: absolute;
	right: 100%;
	color: #f2b63e;
	top: 2px;
	margin-right: 8px ;
	font-weight: lighter;
	font-family: 'Open Sans', sans-serif;
	visibility: hidden;
	opacity: 0;
}
.personal-info .edit:hover:before {
	visibility: visible;
	opacity: 1;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.personal-info .question {
	font-size: 12px;
	font-weight: lighter;
	color: #999;
	margin-top: 30px;
	position: relative;
}
.btn-group__setUp {
	padding: 10px 0 0 0;
}
.social-icon__link {
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: bold;
	color: #f2b63e;
	text-decoration: none;
	min-width: 75px;
	display: inline-block;
}
.social-icon__text {
	font-family: "Open Sans";
	font-size: 12px;
	color: #999;
}
.social-icon__setUp {
	font-family: "Open Sans";
	font-size: 12px;
	color: #f2b63e;
	text-decoration: none;
	float: right;
}
.personal-info .glory {
	font-weight: bold;
	margin-left: 10px;
}
.personal-info input[type="text"],
.personal-info input[type="password"] {
	border: none;
	outline: none;
	border-bottom: 1px solid #ddd;
	padding-top: 14px;
	font-size: 14px;
	color: #606366;
	font-weight: bold;
	display: block;
	width: 100%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background: #fff;
}
.personal-info input[type="text"]:hover,
.personal-info input[type="password"]:hover {
	border-bottom-color: #f2b63e ;
}
.personal-info .btn-group {
	float: right;
}
.personal-info .btn-group a {
	width: 16px;
	height: 16px;
	display: inline-block;
}
.personal-info .cancel {
	background: url(../images/question-icons.png);
	margin-right: 2px;
}
.personal-info .accept {
	background: url(../images/question-icons.png);
	background-position: -24px 0;
}
.personal-info .date-items {
	text-align: center;
}
.personal-info .date-items .day,
.personal-info .date-items .month,
.personal-info .date-items .year {
	display: inline-block;
	margin-left: 12px;
	margin-right: 12px;
	width: 60px;
}
.personal-info .date-items input {
	text-align: center;
}
.personal-info .sex-choice {
	text-align: center;
	line-height: 40px;
}
.personal-info .sex-choice .female {
	margin-left: 40px;
	display: inline-block;
}
.personal-info .sex-choice .male {
	margin-right: 40px;
	display: inline-block;
}
.personal-info .sex-choice .icon {
	display: inline-block;
	width: 25px;
	background: url(../images/sex-icons.png);
	height: 25px;
	vertical-align: bottom;
}
.personal-info .female .icon {
	background-position: -26px 0;
}
.personal-info input[type="radio"] {
	display: none;
}
.personal-info .radio-label {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	margin-left: 15px;
	vertical-align: bottom;
}
.personal-info .radio-label:after {
	content:"";
	width: 20px;
	height: 19px;
	background: url(../images/radio-icons.png);
	display: block;
	position: absolute;
	left: 0;
	right: 0;
}
.personal-info .radio-label.checked:after {
	background-position: 0 -20px ;
}
.user_link
{
	font-weight: bold;
	margin-top: 20px;
	font-size: 16px;
	line-height: 20px;
	color: #606366;
	text-decoration: underline;
	display: inline-block;
}
